 
 <div>
 	<div id="params">
 		<div id="text">
 		<h1> Bienvenue chez nous <%=params[:nom]%> <%=params[:prenom]%>!</h1>
 		<h2>Ton email  est bien <%=params[:adresse]%> ? </h2>
 		<h2>Tu as bien <%=params[:age]%> ans ? </h2>
 		Ceci sont bien tes coordonnées ? si oui coche ici <input type="radio" name="" value="" placeholder="">
 		</div>
 	</div>
</div>
 	<div id="ruby">
 		<a href="http://rubyonrails.org/" ><h2 id="rails"><strong> Ruby On rails </strong></h2></a>
 		<ul>
 			<li>Productivité elevée</li>
 			<li>  Méthode "agile"</li>
 			<li>  Reduction du temps de devellopement</li>
 			<li>  Agmentation de la qualité</li>
 			<li>  Langage orienté objet</li>
 			<li>  Conception/evolution</li>
 			<li>  Modele (mvc : model view controller)</li>
 			<li>DRY =  Don't repeat yourself.</li>
 			<li><a href="http://rubyonrails.org/"> En savoir plus...</a></li>
 		</ul>
 	</div>		
 	</div>
 	<div id="html5">
 		<a href="http://rubyonrails.org/" ><h2 id="rails"> HTML5</h2></a>
 		<ul>
 			<li>Productivité elevée</li>
 			<li>  Méthode "agile"</li>
 			<li>  Reduction du temps de devellopement</li>
 			<li>  Agmentation de la qualité</li>
 			<li>  Langage orienté objet</li>
 			<li>  Conception/evolution</li>
 			<li>  Modele (mvc : model view controller)</li>
 			<li>DRY =  Don't repeat yourself.</li>
 			<li><a href="http://rubyonrails.org/"> En savoir plus...</a></li>
 		</ul>
 		
 	</div>
 	<div id="css3">
 		<a href="http://rubyonrails.org/" ><h2 id="rails"> CSS3</h2></a>
 		<ul>
 			<li>Productivité elevée</li>
 			<li>  Méthode "agile"</li>
 			<li>  Reduction du temps de devellopement</li>
 			<li>  Agmentation de la qualité</li>
 			<li>  Langage orienté objet</li>
 			<li>  Conception/evolution</li>
 			<li>  Modele (mvc : model view controller)</li>
 			<li>DRY =  Don't repeat yourself.</li>
 			<li><a href="http://rubyonrails.org/"> En savoir plus...</a></li>
 		</ul>
 		
 	</div>
 	<div id="Coupedumonde">
		<a href="http://rubyonrails.org/" ><h2 id="rails"> Coupe du monde 2014  </h2></a>
 		<ul>
 			<li>Productivité elevée</li>
 			<li>  Méthode "agile"</li>
 			<li>  Reduction du temps de devellopement</li>
 			<li>  Agmentation de la qualité</li>
 			<li>  Langage orienté objet</li>
 			<li>  Conception/evolution</li>
 			<li>  Modele (mvc : model view controller)</li>
 			<li>DRY =  Don't repeat yourself.</li>
 			<li><a href="http://rubyonrails.org/"> En savoir plus...</a></li>
 		</ul> 		
 	</div>

 	
 </div>
<a href="/" "email me"><h2>Retour à l'accueil</h2></a>


<link rel="stylesheet" href="inscription.css">









