<!DOCTYPE html>
<html>
<head>
	<title>Evaluation</title>
	<link rel="stylesheet" href="bar.css">

<div id='cssmenu'>

<ul>
   <li class='active'><a href='/'><span>Accueil</span></a></li>
   <li><a href='http://simplon.co'><span>Sponsored by Simplon.co</span></a></li>
   <li><a href='/aboutus'><span>A proppos de nous</span></a></li>
   <li class='last'><a href='/message'><span>Contact</span></a></li>
</ul>
</div>

</head>
<body>

  

<%=yield%>
</body>
</html>